In [1]:
#Importing required libraries we will be needing
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv('50_Startups.csv') # to read the file
df.head()  #to print starting 5 rows of data for each column(attribute)

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
df.info() # it gives infomation about data type and null values it containing for each attribute/column

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 108 entries, 0 to 107
Data columns (total 5 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   R&D Spend        108 non-null    float64
 1   Administration   108 non-null    float64
 2   Marketing Spend  108 non-null    float64
 3   State            108 non-null    object
 4   Profit           108 non-null    float64
dtypes: float64(4), object(1)
memory usage: 4.3+ KB

as machine cannot understand textual values(State cols) so we need to label encoder LE is technique to transform textual data to numerical data we can use it.
look at the attribute State above its Dtype is object so we need to change it to numerical form

In [4]:
df["State"].unique()

array(['New York', 'California', 'Florida'], dtype=object)

we will be using Laber Encoder to make it numerical first :)

In [5]:
from sklearn.preprocessing import LabelEncoder
le=LabelEncoder()
df["State"]=le.fit_transform(df["State"])
df.head()

   R&D Spend  Administration  Marketing Spend  State     Profit
0  165349.20       136897.80        471784.10      2  192261.83
1  162597.70       151377.59        443898.53      0  191792.06
2  153441.51       101145.55        407934.54      1  191050.39
3  144372.41       118671.85        383199.62      2  182901.99
4  142107.34        91391.77        366168.42      1  166187.94

now as this data was continuous so we need to make it categorical so for this we will be using one hot encoder :)
(............)
but before that
as we need to predict here profit so the profit col is dependent variable (y) and rest are independent var (x) so definin x and y:

In [8]:
x=df.iloc[:,0:4].values # iloc[row,colum] we needed all rows that y only :, while we need only starting cols for X so 0:4
y=df.iloc[:,4:5].values # need all rows => : need last col=> 4:5

#iloc works for a given range

In [9]:
#one hot encoder to conv numerical data to categorical
from sklearn.preprocessing import OneHotEncoder
one =OneHotEncoder()
z= one.fit_transform(x[:,3:4]).toarray()
z

array([[0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.]])

In [10]:
#now we need to remove 1 col of state and add these 3 cols with remaining 3 cols
x=np.delete(x,3,axis=1)

In [11]:
x=np.concatenate((z,x),axis=1) #now we added that categorical data after removing numerical one to x

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=0)
#it is for dividing our existing data into two parts one for testing purpose and another for training purpose
#we usually divide testing in 20% of data and rest 80% for training purpose

## model building

In [13]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()
lr.fit(x_train,y_train)
# We are using linear regression for training our model

LinearRegression()

In [14]:
ypred=lr.predict(x_test)
ypred

array([[ 48466.75433416],
       [134429.39628446],
       [ 76093.94745792],
       [181201.94746513],
       [113069.45110036],
       [134397.50337434],
       [128842.89457941],
       [159664.83856912],
       [116952.09718498],
       [ 46372.4777126 ],
       [102406.37641002],
       [115207.87076438],
       [ 48466.75433416],
       [119345.51846304],
       [ 88717.92542864],
       [127301.68084921],
       [127301.68084921],
       [ 91145.83032982],
       [ 58337.13774601],
       [146474.04747225],
       [149038.44713346],
       [152718.63782935]])

In [15]:
# our model is trained and ready now we will check its accuracy

from sklearn.metrics import r2_score
acc=r2_score(ypred,y_test)
acc
#R2 SCORE IS TO CHECK ACCURACY its always btw range of 0 and 1 if >.7 model is good :)

0.9316315637551592

Our model has a good accuracy and now its trained :) goodluck!